<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
  <testsuites>
    <testsuite>
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <includePath>.</includePath>
  </php>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>lcache.inc</file>
    </whitelist>
  </filter>
</phpunit>

